*.env
node_modules
.terraform
.gitlab-bot-access-token
.gitlab-runner-registration-token
.vscode
terraform-ssh-key
terraform-ssh-key.pub
kubeconfig_*
*/cypress/screenshots/
*/cypress/videos/
.DS_Store
/git
bin
.vscode/settings.json
logs/
/tmp
lint_log.txt
credentials
kubefirst
