*.env
node_modules
.terraform
.gitlab-bot-access-token
.gitlab-runner-registration-token
.vscode
terraform-ssh-key
terraform-ssh-key.pub
kubeconfig_*
terraform/cypress/cypress/screenshots/
terraform/cypress/cypress/videos/
.DS_Store
