*.env
node_modules
.terraform
.gitlab-bot-access-token
.gitlab-runner-registration-token
.vscode
terraform-ssh-key
terraform-ssh-key.pub
kubeconfig_*
*/cypress/screenshots/
*/cypress/videos/
dist/
**/.DS_Store
/git
bin
.vscode/settings.json
logs/
/tmp
lint_log.txt
credentials
.idea
k3d-linux-amd64.1
k3d-linux-amd64
my.test
go.test
kubefirst.yaml
# kubefirst # <- this is causing files in docs to not commit, need a more explicit path ignored

