version: "3"

services:
  kubefirst-unit-tests:
    build:
      context: .
      dockerfile: ./build/Dockerfile.ci
    working_dir: /home/developer/kubefirst
    platform: linux/amd64
    volumes:
      - ./:/home/developer/kubefirst
    dns:
      - 208.67.222.222 #Cisco DNS
      - 1.1.1.1 #Cloudflare DNS
      - 1.0.0.1 #Cloudflare DNS
      - 8.8.8.8 #Google DNS
    command: sh -c "task unit-test"

