version: "3"

services:

  kubefirst-dev:
    platform: linux/amd64
    build:
      context: ./build
    container_name: kubefirst-dev
    environment:
      TERM: xterm-256color
    ports:
      - "8080:8080" # ArgoCD
      - "8888:8888" # GitLab
      - "8200:8200" # Vault
    volumes:
      - ./:/home/developer/kubefirst
      - $HOME/.aws/:/root/.aws/
    command: sh -c "./scripts/kubefirst-dev.sh"
