html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #303030;
  overflow-x: hidden;
  font-family: 'Coda', cursive;
  font-size: 18px;
  color: #FFFFFF;
}
body {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
.col {
  border: 2px solid #FFF;
  margin: 15px;
  width: 50%;
}
