:root > * {
  --md-primary-fg-color:        #3C356C;
  --md-primary-fg-color--light: #DF6D5D;
  --md-primary-fg-color--dark:  #81E2B4;
}

.md-typeset table:not([class]) {
  border: 0;
}

[dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li {
  margin-bottom: 0;
}

[dir=ltr] .md-typeset ol, [dir=ltr] .md-typeset ul {
  padding-left: 1.25em;
}

.md-typeset a {
  color: #8851C8 !important;
}